html,
body {
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
  color: #444444;
  
  margin: 100;
}
div{
flex-flow:column wrap ;
  display: flex;
text-align: center;
  justify-content: center;
  align-items: center;
  padding:10;

}
a {

  text-decoration: none;
}

* {
  padding:10;
  box-sizing: border-box;
 
}
